/* Medium Layout: 991px. */
@media only screen and (max-width: 991px) {
	.prelements-blog-list .pre-blog-item .blog-inner-wrap.pre-thum-left,
	.prelements-blog-grid .pre-blog-item .blog-inner-wrap.pre-thum-right,
    .prelements-blog-grid .pre-blog-item .blog-inner-wrap.pre-thum-left {
	    display: block;
	}
	.prelements-blog-grid .pre-blog-item .pre-image-wrap img {
		width: 100%;
	}

	.single-attorneys .main-contain .rs-porfolios-details #content {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.single-attorneys .rs-porfolios-details .innertrainers {
		padding-top: 0;
	}
	.single-attorneys .rs-porfolios-details .innertrainers .team-social-icons {
		padding-top: 0;
		margin-top: 15px;
	}
	.single-attorneys .rs-education-training .rs-title {
		margin-bottom: 25px;
	}
	.rs-porfolios-details .rs-education-training {
		padding-top: 70px;
		padding-bottom: 50px;
	}
	.rs-porfolios-details .rs-practice-areas {
		padding-top: 70px;
		padding-bottom: 60px;
	}
	.prelements-heading.style12,
	.prelements-dual-heading.style12 {
		padding-left: 0;
	}
	.prelements-heading.style12 .title-inner .title,
	.prelements-dual-heading.style12 .title-inner .title {
		padding-bottom: 14px;
	}
	.prelements-heading.style12 .title-inner .title::before,
	.prelements-dual-heading.style12 .title-inner .title::before {
		left: 0;
		top: unset;
		bottom: 0;
	}

}

/* Small Layout: 767px. */
@media only screen and (max-width: 767px) {
	.elementor-widget-prelements-table table.dataTable{
		overflow-x: auto;
		max-width: 100%;
		display: block;
	}
}

/* Small Layout: 575px. */
@media only screen and (max-width: 575px) {
	.sm-order-last {
		-webkit-box-ordinal-group: 14;
		-ms-flex-order: 13;
		order: 13;
	}
	.team-grid-style5 .team-item .team-inner-wrap .team-content .btn-part a,
	.team-slider-style5 .team-item .team-inner-wrap .team-content .btn-part a {
		line-height: 27px;
	}
	.team-grid-style5 .team-item .team-inner-wrap::after,
	.team-slider-style5 .team-item .team-inner-wrap::after {
		display: none;
	}
}

/* Small Layout: 480px. */
@media only screen and (max-width: 480px) {
	.prelements-blog-list .pre-blog-item .blog-inner-wrap.pre-thum-left,
	.prelements-blog-grid .pre-blog-item .blog-inner-wrap.pre-thum-right,
    .prelements-blog-grid .pre-blog-item .blog-inner-wrap.pre-thum-left {
	    display: block;
	}
	.prelements-blog-list .pre-blog-item .pre-blog-content .pre-blog-meta{
		font-size: 13px;
	}
	.prelements-addon-services.services-style8 .services-part .services-icon {
		padding: 20px 20px;
	}
	.prelements-addon-services.services-style8 .services-part .services-btn-part {
		display: none;
	}
	.prelements-addon-services.services-style8 .services-part .services-text {
		padding: 0 25px;
	}
	.prelements-portfolio-style6 .portfolio-item .inner_port .content .content-inner {
		width: calc(100% - 60px);
		height: calc(100% - 60px);
	}
}